body {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 600;
}
.container {
  display: block;
  height: 570px;
  width: 570px;
  margin: 0 auto;
  border: 1px solid #cfdede;
}
.form {
  position: relative;
  width: 320px;
  height: 370px;
  display: block;
  border: 1px solid #cfdede;
  background-color: #fbfdfd;
  margin: 99px auto;
 
}
.header {
  position: absolute;
  padding-top: 5px;
  width: 149px;
  height: 25px;
  text-transform: uppercase;
  color: #ffffff;
  left: 29px;
  top: -4px;
  background-color: #01b3b3;
  text-align: center;
 
}
form {
  padding-top: 40px;
  padding-left: 28px;
}
h4 {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 700;
}
.sup {
  color: #01b3b3;
  vertical-align: super;
}
input {
  display: block;
  margin-bottom: 15px;
  width: 262px;
  height: 32px;
  border: 1px solid #cfdede;
  border-radius: 0;
}
button {
  display: block;
  width: 260px;
  height: 45px;
  margin-top: 34px;
  background-color: #01b3b3;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
 
}
