@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-Black.eot');
  src: url('fonts/Lato-Black.eot?#iefix') format('embedded-opentype'), url('fonts/Lato-Black.woff2') format('woff2'), url('fonts/Lato-Black.woff') format('woff'), url('fonts/Lato-Black.ttf') format('truetype'), url('fonts/Lato-Black.svg#Lato-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}



.text-box{
	padding-top: 2rem;
}
.result {
	margin-bottom: 0;
	margin-top: 3rem;
}
.fonts {
	font-size: 3rem;
	text-align: center;
	padding: 2rem;
}
small {
	font-size: 1.3rem;
}

.os {
	font-family: 'Open Sans', sans-serif;
}
.bb {
  font-family: 'Bebas Neue', arial;
}
.lt {
font-family: 'Lato';	
}
.lob {
	font-family: 'Lobster', cursive;

}